* {
	box-sizing: border-box;
}
body {
	margin: 0px;

}
.a {
	width: 100%;
	background-color: black;
	display: inline-flex;
	padding: 5px;
	color: white;
	list-style-type: none;
	margin-top: 0px;
	font-size: 15px;
	font-weight: bold;
}
.a1 {
	margin: -5px 0px 0px 30px;
}
.a2 {
	margin: 0px 10px 0px 20px;
}
.a3 {
	margin: 0px 30px 0px 30px;
}
.a4 {
	margin: 0px 0px 0px 600px;
}
.a5 {
	margin: 0px 0px 0px 50px;
}
.a6 {
	margin: 0px 0px 0px 40px;
}
.b {
	display: inline-flex;
	width: 100%;
	height: 60px;
	background-color: grey;
	list-style-type: none;
	margin-top: -10px;
	color: white;
}
.b2{
	font-weight: bold;
	font-size: 25px;
	font-family: algeria;
}
input[type=text]{
	height: 40px;
	width: 400px;

}
.b3 button {
	height: 40px;
	width: 150px;
	background-color: darkviolet;
	border: hidden;
}
.b3 span {
	height: 20px;
	width: 20px;
	right: 10px;
}
.b5 p{
	margin: -3px 0px 0px 0px;
}
.b1 {
	margin: 0px 0px 0px -10px;
}
.b2 {
	margin: 10px 0px 0px 20px;
}
.b3 {
	margin: 10px 0px 0px 100px;
}
.b21 {
	margin: 15px 0px 0px -170px;
}
.b4 {
		margin: 10px 130px 0px 0px;
}
.b5 {
	margin: 2px 0px 0px 320px;
}
.middle {
	width: 100%;
}
.column1 {
	border: 2px  blue;
	width: 300px;
	height: 400px
}
.c{
	width: 20%;
	height: auto;
	float: left;
	margin: 20px 0px 0px 20px;
}
.c img {
	border: 2px solid darkviolet;height: 460px;width: 304px;
}
.c2 {
	background-color: lightgrey;
	height:100px;
	width: 55%;
	margin: -380px 0px 0px 350px;
	
}
.c21 {
    list-style-type: none;
	display: inline-flex;
}
.c22 {
	margin: 15px 0px 0px -10px;
	font-size: 25px;
	font-weight: bolder;
	font-family: arrus bt;
	color: darkgrey;
}
.c23 {
	margin: 65px 10px 0px -250px;
	font-size: 25px;
	font-weight: bolder;
	font-family: arrus bt;
}
.c24 {
	margin: 65px 10px 0px 10px;
	font-size: 25px;
	font-weight: bolder;
	font-family: arrus bt;
	color: darkgrey;
}
.c25 {
	margin: 65px 0px 0px 100px;

}
.c26 {
	margin: 65px 0px 0px 0px;
	font-size: 25px;
	font-weight: bolder;
	font-family: arrus bt;
	color: darkgrey;
}
.c22 span {
	font-size: 30px;
}
.c22 p {
	font-size: 15px;
	margin: -25px 10px 0px 160px;
	color: darkviolet;

}
.tab1 {
	width: 80%;
	height: 240px;
	background-color: lightgrey;

}
.tab2 {
	width:23% ;
	height: 240px;
}

.table1 {
	margin: 0px 450px 0px 350px;
}
.tab1 {
	border: 2px solid blue;
	 border-bottom: hidden; 
	 border-left: hidden;
	  margin-top: 0px;
	  font-size: 20px;
	  font-family: new times roman;
	 
}
.d1 {
     padding: 0px 0px 0px 20px;
}
 .tab1 .d2 {
	color: darkgrey;
}
.tab1 .d4 {
	color: darkgrey;
}
.tab2 {
 background-color: lightgrey;
border: 2px solid blue;
 border-bottom: hidden;  
 border-right: hidden; 
 margin-top: -20px;
 font-size: 20px;
 font-family: new times roman;
}
.tab2 {
	margin: -240px 20px 0px 782px;

}
.d11{
	padding-left: 40px;
	color: darkgrey;
}
.d22{
	padding-right: 10px;
}
.d33{
	padding-right: 10px;
}
.d44{
	padding-right: 30px;
}

.e1 {
	background-color: lightgrey;
	height:120px;
	width: 742px;
	margin: 0px 0px 0px 270px;
	list-style-type: none;
	display: inline-flex;
	text-align: justify;
}
.e3 {
	padding: 30px 30px 0px 30px;
}
.f2 {
	padding: 5px 0px 0px 10px;
	font-weight: bold;
}
.f3 {
	padding: 5px 0px 0px 10px;
}
.f2 p {
	padding: 0px 0px 0px 19px;
	font-size: 15px;
	color: darkgrey;
}
.f3 p {
	padding: 0px 0px 0px 5px;
	font-weight: bold;
	font-size: 15px;
	color: darkgrey;
}
.f1 {
	border: 2px solid darkviolet;
	height: 210px;width: 200px;
	list-style-type: none;
	 margin: -460px 0px 0px 1130px;
	 border-left: hidden;
	 border-top: hidden;
	 border-right: hidden;
	 background-color: lightgrey;
}
.g1 {
	height: 250px;
	width: 200px;
	list-style-type: none;
	 margin: 0px 0px 0px 1130px;
	 background-color: lightgrey;
	 font-family: new times roman;
	 font-weight: bold;
	 font-size: 18px;
}
.g2 {
	padding: 10px 0px 0px 30px;
	color: darkgrey;
}
.g4 {
padding: 0px 0px 0px 0px;
 color: darkgrey;
}
.g5{
	padding: 0px 0px 0px 40px;
}
.hh {
	border: 1px darkviolet;
	width: 23%;
	height: 800px;
	 margin: 30px 0px 0px 20px;
	  background-color:lightgrey;
	  border: hidden;
}
.h1 {
	list-style-type: none;
	font-family: new times roman;
}
.h2h {
	 padding: 30px 0px 0px 30px;
	 font-size: 20px;
}
.h3 select {
	width: 200px;
	height: 30px; 
	margin-left: 30px;
	padding-left: 70px;
	 background-color: blue;
	 color: white;
	 font-size: 20px;
}
.h1 h5 {
	margin: 40px 0px 0px -30px;

}
.h1 .h5 {
	font-size: 15px;
}
.h1 .h6 {
	font-size: 15px;
}
.h6 {
    padding-left: 50px;

}
.h5 {
   padding-left: 40px;
}
h4 {
	margin: 20px 0px 0px -20px;
	font-weight: bolder;
}

.h22 {
	margin: 0px 0px 0px -30px; 
	height: 300px;
	border: hidden;
}
.h11 {
	margin: 0px 10px 0px 0px;
font-size: 15px; 
border: 1px solid black;
padding:0px 0px 10px 0px; 
list-style-type: none;
background-color: white;
border: hidden;
}
.h12 {
	padding: 0px 10px 20px 0px;
	color: darkgrey;
}
.h13 {
   padding: 0px 0px 0px 250px;
}
.h14 {
   margin: -40px 0px 0px 250px;
}
.i11 i {
	font-size: 40px;
}
.i1 {
	width: 73%;height: 800px;
	border: 1px solid black;
	margin: -800px 0px 0px 350px;
	list-style-type: none;
	background-color: lightgrey;
	border: hidden;
}
.i11::first-letter {
	font-size: 25px;
	font-family: italic ;
	color: blue;
	font-weight:bold;
}
.i11 {
	padding: 30px 0px 0px 400px;
	font-weight: bold;
	font-size: 20px;
	font-family: calisto mt ;
}
.i113 {
	margin: 30px 0px 0px 320px;
}
.i114 {
	margin: -70px 0px 0px 400px;
}
.i115 {
	margin: -70px 0px 0px 480px;
}
.i14 {
margin: 90px 0px 0px -30px;
}
.i15 {
margin:-200px 0px 0px 280px;
}
.i16 {
margin:-200px 0px 0px 600px; 
}
.i17 {
margin:-270px 0px 0px -30px;
}
.i18 {
margin:-200px 0px 0px 280px; 
}
.i12 {
	margin: -460px 0px 0px 900px;
}
.i19 {
	margin: 510px 0px 0px 900px;
}
.jj {
	width: 97.5%;height: 100px;
	border: 1px solid lightgrey; 
	margin: 15px 0px 0px 20px;
}
.jj {
	background-color: darkgrey;

}
.jj p {
	text-align: center;
	margin-top: 30px;
	font-weight: bolder;
	font-size: 25px;
	color: white;
	font-family: arrus bt;

}
.kk {
	margin: -40px 0px -20px 20px;
}
.kk i {
	font-size: 80px;
	padding-left:0px;
	font-family: new times roman;
	color: blue;
}
.ll1 {
	width: 97.5%;height: 200px; 
	margin: -10px 0px 0px 20px;
	 list-style-type: none;
	display: inline-flex;
	 border: 1px solid black;
	padding: 10px 10px 10px 70px;
	background-color: darkgrey;
}
.ll .l12 {
	margin-right: 20px;
}
.mmm1 {
	margin-top: 120px;
}
.m1 {
	width: 100%;
	height: 160px;
	list-style-type: none;
	background-color: black;
}

.fina {
	list-style-type: none;
	display: inline-flex;
	margin-top: -20px
}
.na1 {
	margin: 50px 0px 0px 550px;
}
.na2 {
	margin: 50px 0px 0px 20px;
}
.na3 {
	margin: 50px 0px 0px 20px;
}
.na4 {
	margin: 50px 0px 0px 20px;
}
.cmpl {
	text-align: center;
	background-color: black;
	font-weight: bolder;
}
.m1 hr {
	margin-top: -10px;
}
.img .ml1 {
	margin: -40px 0px 0px 570px;
}
.img .ml2 {
	margin: -50px 530px 0px 660px; 
	font-size: 20px;
	 background-color:black;
	  color: white;
}